<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/scripts.js"></script>

    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="custom-header">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <h1>Gummi Bear Kingdom</h1>
                </div>
                <div class="col-3">
                    <div class="nav-flexer">
                        <h4>
                            <a asp-action="Index" asp-controller="Home">Home</a>
                        </h4>
                        <div class="header-link-divider h4">|</div>
                        <h4>
                            <a asp-action="Index" asp-controller="Products">Products</a>
                        </h4>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
