@{
    ViewData["Title"] = "Edit a Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GummiBearKingdom.Models.Product

<h2>Edit a Product</h2>
<div class="subheader-divider"></div>

<form asp-action="Edit">

    <input asp-for="ProductId" type="hidden" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" />
        <div data-valmsg-for="Name" data-valmsg-replace="true"></div>
    </div>
    <div class="form-group">
        <label asp-for="Cost"></label>
        <input type="text" asp-for="Cost" class="form-control" />
        <div data-valmsg-for="Cost" data-valmsg-replace="true"></div>
    </div>
    <div class="form-group">
        <label asp-for="Country"></label>
        <input type="text" asp-for="Country" class="form-control" />
        <div data-valmsg-for="Country" data-valmsg-replace="true"></div>
    </div>

    <input type="submit" value="Save Changes" class="btn btn-primary" /> |
    <a asp-action="Index">Cancel</a>
</form>

