@{
    ViewData["Title"] = "Gummi Bear Kingdom Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<GummiBearKingdom.Models.Product>

<h2>Products of Gummi Bear Kingdom</h2>
<p><a asp-action="Create">Add a Product</a></p>

<div class="row">
    @{int i = 0;}
    @foreach(var product in Model)
    {
        i++;
        i = i > 7 ? 1 : i;
        <div class="product-block block-@i">
            <div class="product-flexer">
                <div class="product-text-container">
                    <p>@product.Name</p>
                </div>
            </div>
            <div class="slide-upper">
                <a asp-action="Details" asp-route-id="@product.ProductId">Details</a> | 
                <a asp-action="Edit" asp-route-id="@product.ProductId">Edit</a> | 
                <a asp-action="Delete" asp-route-id="@product.ProductId">Delete</a>
            </div>
        </div>
    }
</div>
<div class="bottom-filler"></div>